[submodule "submodules/cclib"]
	path = submodules/cclib
	url = https://github.com/cclib/cclib.git
[submodule "submodules/iodata"]
	path = submodules/iodata
	url = https://github.com/theochem/iodata.git
[submodule "submodules/gbasis"]
	path = submodules/gbasis
	url = https://github.com/theochem/gbasis.git
[submodule "submodules/gemmi"]
	path = submodules/gemmi
	url = https://github.com/project-gemmi/gemmi.git
[submodule "submodules/spglib"]
	path = submodules/spglib
	url = https://github.com/spglib/spglib.git
